/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins.less";

// CSS Reset
@import "bootstrap/reset.less";

// Grid system and page structure
@import "bootstrap/scaffolding.less";
@import "bootstrap/grid.less";
@import "bootstrap/layouts.less";

// Base CSS
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/forms.less";
@import "bootstrap/tables.less";

// Components: common
@import "bootstrap/sprites.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/wells.less";
@import "bootstrap/component-animations.less";
@import "bootstrap/close.less";

// Components: Buttons & Alerts
@import "bootstrap/buttons.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/breadcrumbs.less";
@import "bootstrap/pagination.less";
@import "bootstrap/pager.less";

// Components: Popovers
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";

// Components: Misc
@import "bootstrap/thumbnails.less";
@import "bootstrap/media.less";
@import "bootstrap/labels-badges.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/accordion.less";
@import "bootstrap/carousel.less";
@import "bootstrap/hero-unit.less";

// Utility classes
@import "bootstrap/utilities.less"; // Has to be last to override when necessary



body {
    padding-top: @navbarHeight + 20px;
}

a {
    cursor: pointer !important;
}

.outer-container(@width, @padding) {
    background-color: @white;
    width: @width;
    .center-block();
    .border-radius(5px);
    padding-top: @padding;
    padding-bottom: @padding;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;  // Must be important
}

.navbar {
    .brand {
        font-family: @segoeUIFamily, @baseFontFamily, !important;
        font-size: 2.0*@baseFontSize;
    }

    .gravatar {
        padding: 0 10px;
        line-height: @navbarHeight;
        height: @navbarHeight;
        display: inline-block;

        img {
            vertical-align: middle;
        }

    }
}


div.outer-container {
    .outer-container(@gridRowWidth + 20px, 10px);
}

@media (max-width: 767px) {
    div.outer-container {
        .outer-container(100%, 10px);

        .container .row {
            padding: 10px;
        }
    }

    .navbar {
        .gravatar {
            display: none;
        }
    }

    .footer-bar {
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    div.outer-container {
        .outer-container(@gridRowWidth768 + 20px, 10px);
    }

    .navbar {
        .gravatar {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    div.outer-container {
        .outer-container(@gridRowWidth1200 + 20px, 30px);
    }
}

.details {
    margin-bottom: 20px;
    color: darken(@grayLight, 20%);

    & > div {
        padding: 20px !important;
    }
}

.alert {
    &.alert-tip {
        color: @textColor;
    }

    &.alert-details {
        background-color: @grayLighter;
    }
}

.users-list {
}
.users-list .user-name {
    p {
        margin-bottom: 0;
        font-size: 1.2em;
    }
    small {
        color: @grayLight;
    }
}
.users-list .works-list .works-title {
    font-size: 1.1em;
}
.users-list .works-list .work-status {
    display: inline-block;
    .square(25px);
    line-height: 25px;
    text-align: center;
    font-size: 1.1em;
    color: darken(@grayLighter, 10%);
    background-color: @grayLighter;
    .border-radius(25px);

    &.work-approved {
        color: @successText;
        background-color: @successBackground;
    }

    &.work-finished {
        color: @warningText;
        background-color: @warningBackground;
    }
}
.users-options,
.works-options {
    background-color: @grayLighter;
    padding: 5px 10px;
    .border-radius(5px);
}

.work-info {
    background-color: fade(@grayLighter, 50%);
}
.work-edit {
    .word-count {
        font-size: @fontSizeLarge;
        padding: 5px 10px !important;
    }
}

.works-list {
}
.work-status {
    display: inline-block;
    .square(50px);
    line-height: 50px;
    text-align: center;
    font-size: 1.8em;
    color: darken(@grayLighter, 10%);
    background-color: @grayLighter;
    .border-radius(25px);

    &.work-approved {
        color: @successText;
        background-color: @successBackground;
    }

    &.work-finished {
        color: @warningText;
        background-color: @warningBackground;
    }

}
.work-status-cell {
    width: 60px;
}
.work-user,
.work-tag {
    p {
        margin-bottom: 0;
        font-size: 1.2em;
    }
    small {
        color: @grayLight;
    }
}



textarea {
    font-family: @baseFontFamily !important;
}

// Fix vertical align of input elements in tables
table {
    td {
        vertical-align: middle !important;

        form  {
            margin-bottom: 0 !important;
        }

        input {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}

.footer-bar {
    background-color: @grayDark;
    padding: 20px 20px 80px 20px;
    margin-top: 20px;
    color: @grayLighter;
}

// Small modifications for printing the documents.
@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    a,
    a:visited {
        // text-decoration: underline;
    }

    a[href]:after {
        content: "";
    }

    abbr[title]:after {
        content: "";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }

    @page  {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .navbar-bg-image {
        background: url(../logo-icon.png) top right no-repeat !important;
    }

    .work-controls {
        display: none;
    }

    .aid {
        display: none
    }
}

// Icomoon fonts
@import "icomoon.less";
@import "bootstrap/responsive.less";

