@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-home-2, .icon-home-3, .icon-users, .icon-print, .icon-lock, .icon-lock-2, .icon-unlocked, .icon-signup, .icon-star, .icon-close, .icon-checkmark, .icon-airplane, .icon-pencil, .icon-user, .icon-tags, .icon-tag, .icon-envelop, .icon-mobile, .icon-tablet, .icon-mobile-2, .icon-laptop, .icon-screen, .icon-busy, .icon-remove, .icon-briefcase, .icon-lightning, .icon-switch, .icon-power-cord, .icon-bookmark, .icon-bookmarks, .icon-info, .icon-info-2, .icon-checkmark-2, .icon-spam, .icon-facebook, .icon-twitter, .icon-twitter-2, .icon-facebook-2, .icon-google-plus, .icon-google-plus-2, .icon-feed, .icon-feed-2, .icon-chrome, .icon-firefox, .icon-IE, .icon-opera, .icon-safari, .icon-html5, .icon-html5-2, .icon-reply, .icon-forward, .icon-pencil-2, .icon-paperplane, .icon-mail, .icon-mobile-3, .icon-search, .icon-eye, .icon-loop, .icon-storage, .icon-profile, .icon-attachment, .icon-file, .icon-plus, .icon-file-2, .icon-link, .icon-sad, .icon-sad-2, .icon-question, .icon-help, .icon-shocked, .icon-shocked-2, .icon-download, .icon-hammer, .icon-bullhorn, .icon-calendar {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-home:before {
    content: "\e000";
}
.icon-home-2:before {
    content: "\e001";
}
.icon-home-3:before {
    content: "\e002";
}
.icon-users:before {
    content: "\e003";
}
.icon-print:before {
    content: "\e004";
}
.icon-lock:before {
    content: "\e005";
}
.icon-lock-2:before {
    content: "\e006";
}
.icon-unlocked:before {
    content: "\e007";
}
.icon-signup:before {
    content: "\e008";
}
.icon-star:before {
    content: "\e009";
}
.icon-close:before {
    content: "\e00a";
}
.icon-checkmark:before {
    content: "\e00b";
}
.icon-airplane:before {
    content: "\e00c";
}
.icon-pencil:before {
    content: "\e00d";
}
.icon-user:before {
    content: "\e00e";
}
.icon-tags:before {
    content: "\e00f";
}
.icon-tag:before {
    content: "\e010";
}
.icon-envelop:before {
    content: "\e011";
}
.icon-mobile:before {
    content: "\e012";
}
.icon-tablet:before {
    content: "\e013";
}
.icon-mobile-2:before {
    content: "\e014";
}
.icon-laptop:before {
    content: "\e015";
}
.icon-screen:before {
    content: "\e016";
}
.icon-busy:before {
    content: "\e017";
}
.icon-remove:before {
    content: "\e018";
}
.icon-briefcase:before {
    content: "\e019";
}
.icon-lightning:before {
    content: "\e01a";
}
.icon-switch:before {
    content: "\e01b";
}
.icon-power-cord:before {
    content: "\e01c";
}
.icon-bookmark:before {
    content: "\e01d";
}
.icon-bookmarks:before {
    content: "\e01e";
}
.icon-info:before {
    content: "\e01f";
}
.icon-info-2:before {
    content: "\e020";
}
.icon-checkmark-2:before {
    content: "\e021";
}
.icon-spam:before {
    content: "\e022";
}
.icon-facebook:before {
    content: "\e023";
}
.icon-twitter:before {
    content: "\e024";
}
.icon-twitter-2:before {
    content: "\e025";
}
.icon-facebook-2:before {
    content: "\e026";
}
.icon-google-plus:before {
    content: "\e027";
}
.icon-google-plus-2:before {
    content: "\e028";
}
.icon-feed:before {
    content: "\e029";
}
.icon-feed-2:before {
    content: "\e02a";
}
.icon-chrome:before {
    content: "\e02b";
}
.icon-firefox:before {
    content: "\e02c";
}
.icon-IE:before {
    content: "\e02d";
}
.icon-opera:before {
    content: "\e02e";
}
.icon-safari:before {
    content: "\e02f";
}
.icon-html5:before {
    content: "\e030";
}
.icon-html5-2:before {
    content: "\e031";
}
.icon-reply:before {
    content: "\e032";
}
.icon-forward:before {
    content: "\e033";
}
.icon-pencil-2:before {
    content: "\e034";
}
.icon-paperplane:before {
    content: "\e035";
}
.icon-mail:before {
    content: "\e036";
}
.icon-mobile-3:before {
    content: "\e037";
}
.icon-search:before {
    content: "\e038";
}
.icon-eye:before {
    content: "\e039";
}
.icon-loop:before {
    content: "\e03a";
}
.icon-storage:before {
    content: "\e03b";
}
.icon-profile:before {
    content: "\e03c";
}
.icon-attachment:before {
    content: "\e03d";
}
.icon-file:before {
    content: "\e03e";
}
.icon-plus:before {
    content: "\e03f";
}
.icon-file-2:before {
    content: "\e040";
}
.icon-link:before {
    content: "\e041";
}
.icon-sad:before {
    content: "\e042";
}
.icon-sad-2:before {
    content: "\e043";
}
.icon-question:before {
    content: "\e044";
}
.icon-help:before {
    content: "\e045";
}
.icon-shocked:before {
    content: "\e046";
}
.icon-shocked-2:before {
    content: "\e047";
}
.icon-download:before {
    content: "\e048";
}
.icon-hammer:before {
    content: "\e049";
}
.icon-bullhorn:before {
    content: "\e04a";
}
.icon-calendar:before {
    content: "\e04b";
}
