
@import "bootstrap/less/bootstrap.less";
@import "_variables.less";


body {
    padding-top: @navbar-height + 20px;
    #gradient > .vertical-three-colors(#fff, @body-bg, 30%, @body-bg);
}

a {
    cursor: pointer !important;
}

.footer-bar {
    background-color: darken(@navbar-default-bg, 40%);
    padding: 20px 20px 80px 20px;
    margin-top: 40px;
    color: #eee;

    .logo-bar {
        margin-top: 20px;
    }
}


.img-responsive {
    display: inline-block;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;  // Must be important
}

.navbar-brand {
    text-shadow: 1px 1px 3px fade(#fff, 30%);
}


.slider {
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 10px;

    color: #fff !important;
    background-color: darken(#222, 50%);

    .carousel {
        margin-bottom: 0;
    }

}

.logo-main {
  margin: 0 0 20px 20px;

  @media (min-width: @screen-md-min) {
    .pull-right;
    max-width: round(@screen-md-min / 3);
  }

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .text-center();
    .center-block();
    max-width: round(0.6 * @screen-sm-max);
  }

  @media (max-width: @screen-xs-max) {
    .text-center();
    .center-block();
    max-width: round(0.6 * @screen-xs-max);
  }
}


#event-call {
    font-family: @font-family-base;
    font-size: int(1.2*@font-size-base);
    font-weight: normal;
}

#event-institutions,
#event-main {
    font-size: 1.4em;
    font-weight: bold;

    ul > li {
        line-height: 1.4em;
    }
}

.call-title {
    font-size: 6*@font-size-base;
}

#event-main {
    padding: 20px 0;
    font-weight: normal;
    font-size: 1.3*@font-size-base;
    line-height: 1.8*@font-size-base;
}

.download-region {
    padding: 40px 0;
}

.huge-icon {
    font-size: 5em;
    margin-right: 10px;
    color: fade(#222, 50%);
}

textarea {
    font-family: @font-family-base !important;
}

// Fix vertical align of input elements in tables
table {
    td {
        vertical-align: middle !important;

        form  {
            margin-bottom: 0 !important;
        }

        input {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}

// Small modifications for printing the documents.
@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    a,
    a:visited {
        // text-decoration: underline;
    }

    a[href]:after {
        content: "";
    }

    abbr[title]:after {
        content: "";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }

    @page  {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .work-controls {
        display: none;
    }
}

// Icomoon fonts
@import "_icomoon.less";


