<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="RegApp">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Tercer Coloquio de Energía</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shorcut icon" href="favicon.ico" />

        <link rel="stylesheet" href="css/site.min.css">
        <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>

        {% set registration_closed = false %}

        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <nav class="navbar navbar-fixed-top navbar-default" ng-controller="StatusController">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./">
                        Tercer Coloquio de Energía
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="convocatoria.html">
                                Convocatoria
                            </a>
                        </li>
                        <li>
                            <a href="registro/">
                                Página de registro
                            </a>
                        </li>
                        {#  #}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Más... <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                {% block navlinks %}
                                {# Begin block #}
                                <li>
                                    <a href="presentacion.html">
                                        Presentación
                                    </a>
                                </li>
                                <li>
                                  <a href="memorias-2013.html">
                                    Memorias Segundo Coloquio de Energía
                                  </a>
                                </li>
                                <li>
                                  <a href="memorias-2011.html">
                                    Memorias Primer Coloquio de Energía
                                  </a>
                                </li>

                                {# Begin if #}
                                {% if registration_closed == true %}
                                <li>
                                    <a href="programa.html">
                                        Programa
                                    </a>
                                </li>
                                <li>
                                    <a href="difusion.html">
                                        Difusión
                                    </a>
                                </li>
                                <li>
                                    <a href="normas.html">
                                        Normas para la presentación de trabajos
                                    </a>
                                </li>
                                {% endif %}
                                {# End if #}

                                {# End block #}
                            {% endblock %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        {% block content %}
        {% endblock %}


        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <footer>
                            <p class="text-right">
                                &copy; 2015, Tercer Coloquio de Energía, Uso Actual de la Energía y Energías Renovables.
                            </p>
                        </footer>
                    </div>
                </div>
            </div>

            <div class="container logo-bar">
                <div class="row">
                    {# <div class="col-md-3 text-center">
                        <img src="img/logounam.png" alt="Universidad Nacional Autónoma de México">
                    </div> #}
                    <div class="col-md-4 text-center">
                        <img src="img/logociencias.png" alt="Facultad de Ciencias" class="img-responsive">
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="img/logo-mctp.png" alt="MCTP" class="img-responsive">
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="img/logo-unach.png" alt="Universidad Autónoma de Chiapas" class="img-responsive">
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="img/logouach.png" alt="Universidad Autónoma Chapingo" class="img-responsive">
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="img/logo-uam.png" alt="UAM - Iztapalapa" class="img-responsive">
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="img/logo-upchiapas.png" alt="Universidad Politécnica de Chiapas" class="img-responsive">
                    </div>
                    {# <div class="col-md-3 text-center">
                    </div> #}
                </div>
            </div>
        </div>
        <!-- /container -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>');
        </script>

        <script src="js/main.min.js"></script>

        <!--<script>
            var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']]; ( function(d, t) {
                    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                    g.src = '//www.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g, s)
                }(document, 'script'));
        </script>-->
    </body>
</html>

