{% extends "_base.html" %}

{% block content %}
    <div class="outer-container">

        <div class="inner-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="text-center" id="event-call">
                            <hr>
                            <div id="event-institutions">
                                <ul class="list-unstyled">
                                    <li>El Centro Mesoamericano de Física Teórica (MCTP)</li>
                                    <li>La Universidad Autónoma de Chiapas (UNACH)</li>
                                    <li>La Universidad Politécnica de Chiapas (UPChiapas)</li>
                                    <li>El Seminario de Física y Cómputo de la Facultad de Ciencias de la UNAM</li>
                                    <li>La Universidad Autónoma Chapingo (UACh)</li>
                                    <li>La Universidad Autónoma Metropolitana - Iztapalapa (UAM-I)</li>
                                </ul>
                            </div>

                            <br />

                            <div id="event-main">
                                <h2 class="text-center">
                                    CONVOCAN
                                </h2>

                                <br>

                                <p>
                                    a investigadores, profesores, estudiantes y a las personas interesadas en los
                                    problemas relativos al uso de la energía a participar en el
                                </p>

                                <br>

                                <h1>
                                    3er. COLOQUIO DE ENERGÍA
                                    <br>
                                    USO ACTUAL DE LA ENERGÍA Y ENERGÍAS RENOVABLES
                                </h1>

                                <br>

                                <p>
                                    del 2 al 5 de septiembre de 2015
                                </p>
                                <p>
                                    Centro Mesoamericano de Física Teórica (MCTP)
                                </p>
                                <p>
                                    Tuxtla Gutierrez, Chiapas
                                </p>
                                <p>Horario de 10:00 a 18:30 hrs.</p>
                            </div>

                            <br />

                            <div>
                                <h2>Temas</h2>
                                <p>
                                    <strong>I. Energía:</strong> Solar, Eólica, Geotérmica, Mareomotriz, Biomasa y Energías Renovables en general.
                                </p>
                                <p><strong>II. Experimentos, prototipos y aplicaciones.</strong></p>
                                <p><strong>III. Energía y Sociedad:</strong> Uso actual y futuro de la energía en México y el Mundo, Impacto Ambiental, Política Energética y Crisis Energética.
                                </p>
                            </div>

                            <br />

                            <div>
                                <h2>Actividades</h2>
                                <p>Conferencias Magistrales, Mesas redondas, Simultáneas, Murales</p>
                                <p>Exposiciones de Experimentos y Prototipos</p>
                                <p>Conferencias y Talleres de Divulgación</p>
                            </div>

                            <br />

                            <div>
                                <h2>Fechas</h2>
                                <p>
                                    <strong>Periodo de inscripción: del 4 de mayo al 4 de septiembre de 2015.</strong>
                                </p>
                                <p>
                                    <strong>Fecha límite de envío de resúmenes (simultáneas, carteles, experimentos y prototipos): 10 de julio de 2015.</strong>
                                </p>
                                <p>
                                    <strong>Aviso del resultado de la evaluación de resúmenes: 20 de julio de 2015.</strong>
                                </p>

                                <br>

                                <p>
                                    Mayor información comunicándose al correo electrónico:
                                    <br>
                                    coloquio@champagn.fciencias.unam.mx
                                    <br>
                                    o al teléfono: (01 55) 562-24843
                                    <br><br>
                                    Página de inscripción:
                                    <a href="http://coloquiodeenergia.com/registro">
                                        http://coloquiodeenergia.com/registro
                                    </a>
                                </p>
                            </div>

                            <hr>

                            <div class="text-center">
                                <a href="files/Convocatoria.pdf" target="_blank" class="btn btn-default btn-large">
                                    <span aria-hidden="true" class="icon icon-eye"></span>
                                    Convocatoria (PDF)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
