{% extends "_base.html" %}

{% block content %}

<div class="outer-container">
    <div class="inner-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Difusión <small>Ayudanos a darnos a conocer...</small></h1>
                    </div>
                    <p>A fin de facilitar la difusión del evento ponemos a disposición del público general el logotipo, el cartel y el tríptico del mismo.</p>
                </div>
                <div class="col-md-12">
                    <div class="text-center download-region">
                        <img src="files/logotipo.jpg" alt="Logotipo" title="Logotipo del Segundo Coloquio de Energía">
                        <br>
                        <a href="files/logotipo.jpg" class="btn btn-large" title="Descargar logotipo" download="Logotipo.jpg">
                            <span aria-hidden="true" data-icon="&#xe048;"></span>
                            Descargar logotipo
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center download-region">
                        <a href="files/cartel.pdf" class="btn btn-large" title="Ver cartel">
                            <span aria-hidden="true" data-icon="&#xe039;"></span>
                            Ver cartel
                        </a>
                        <a href="files/cartel.pdf" class="btn btn-large" title="Descargar cartel" download="Cartel.pdf">
                            <span aria-hidden="true" data-icon="&#xe048;"></span>
                            Descargar cartel
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center download-region">
                        <a href="files/triptico.pdf" class="btn btn-large" title="Ver tríptico">
                            <span aria-hidden="true" data-icon="&#xe039;"></span>
                            Ver tríptico
                        </a>
                        <a href="files/triptico.pdf" class="btn btn-large" title="Descargar tríptico" download="Triptico.pdf">
                            <span aria-hidden="true" data-icon="&#xe048;"></span>
                            Descargar tríptico
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}