{% extends "_base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>
                        ¡Bienvenido!
                    </h1>
                    <hr>
                    <p class="logo-main">
                      <img src="img/logotipo.png" alt="" class="img-responsive">
                    </p>
                    <p>
                        El <a href="presentacion.html">Tercer Coloquio de Energía</a> se realizará en el Centro Mesoamericano de Física Teórica en Tuxtla Gutiérrez, Chiapas, del 2 al 5 de septiembre de 2015.
                    </p>
                    <p>
                        El evento es organizado por el Centro Mesoamericano de Física Teórica (MCTP), la Universidad Autónoma de Chiapas (UNACH), la Universidad Politécnica de Chiapas (UPChiapas), el Seminario de Física y Cómputo de la Facultad de Ciencias de la UNAM, la Universidad Autónoma Chapingo (UACh) y la Universidad Autónoma Metropolitana Campus Iztapalapa (UAM-I).
                    </p>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <h2><i class="icon icon-quill"></i> Temas de interés</h2>
                            <div class="col-md-4">
                                <h3>Energía</h3>
                                <p>Solar, Eólica, Geotérmica, Mareomotriz, Biomasa y Energías Renovables en general.</p>
                            </div>
                            <div class="col-md-4">
                                <h3>Experimentos, prototipos y aplicaciones.</h3>
                            </div>
                            <div class="col-md-4">
                                <h3>Energía y Sociedad</h3>
                                <p>Uso actual y futuro de la energía en México y el Mundo, Impacto Ambiental, Política Energética y Crisis Energética.</p>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <h2><i class="icon icon-quill"></i> ¡Participa!</h2>
                    <p>
                        Tienes hasta el 10 de julio de 2015 para <a href="/registro">enviar tu resumen</a>. Para mayores detalles consulta la <a href="convocatoria.html">convocatoria</a> del evento.
                    </p>
                    <p class="well text-center">
                        ¡No hay cuota de inscripción!
                    </p>
                    {# <h3 class="text-warning text-center">IMPORTANTE: el periodo de registro de trabajos ha concluido. Sólo puedes pasar
                        al sistema de registro para dejar constancia de tu participación.
                    </h3> #}
                </div>
            </div>
        </div>
        <hr>

        {% if registration_closed == true %}
        <div class="row">
            <div class="col-md-4">
                <h3>Programa del evento</h3>
                <span class="pull-left huge-icon" aria-hidden="true" data-icon="&#xe04b;"></span>
                Consulta la lista de actividades a realizarse en la semana del 21 al 25 de
                octubre de 2013.
                <p>
                    <strong><a href="programa.html" class="pull-right">Ver programa.</a></strong>
                </p>
            </div>
            <div class="col-md-4">
                <h3>Normas de presentación</h3>
                <span class="pull-left huge-icon" aria-hidden="true" data-icon="&#xe049;"></span>
                Las reglas básicas que tienes que seguir para presentar tu trabajo.
                <p>
                    <strong><a href="normas.html" class="pull-right">Leer reglas.</a></strong>
                </p>
            </div>
            <div class="col-md-4">
                <h3>Ayudanos a difundir</h3>
                <span class="pull-left huge-icon" aria-hidden="true" data-icon="&#xe04a;"></span>
                <p>Descarga el cartel y el tríptico del evento, y compártelo.</p>
                <p>
                    <strong><a href="difusion.html" class="pull-right">Quiero ayudar...</a></strong>
                </p>
            </div>
        </div>
        {% endif %}

    </div>

    {# Comented region
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div id="main-carousel" class="carousel slide"  data-interval="2000">
                        <ol class="carousel-indicators">
                            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#main-carousel" data-slide-to="1"></li>
                            <li data-target="#main-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item item-main">

                            </div>
                            <!--<div class="item">
                                <img src="img/energias/Slide 1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="img/energias/Slide 2.jpg" alt="">
                            </div>-->
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" data-slide="next">&rsaquo;</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    #}
{% endblock %}
