{% extends 'programa.html' %}

{% block mondaynav %}
<li class="active">
    <a href="programa-lunes.html">Lunes</a>
</li>
{% endblock %}

{% block content %}
<div class="outer-container">
    <div class="inner-container">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                <div class="page-header">
                    <h1>Memorias <small>del Primer Coloquio de Energía</small></h1>
                </div>

                <iframe src="https://onedrive.live.com/embed?cid=FDE4F8106DAD2433&resid=fde4f8106dad2433%2152108&authkey=APMzaYI7Hl2qO3w&em=2" width="100%" height="1050" frameborder="0" scrolling="no"></iframe>

                <p>En este enlace se anexan las memorias.</p>
                <div class="text-center">
                    <a href="files/2011/MemoriasColoquiodeEnergia.pdf" class="btn btn-default btn-large" target="_blank">
                        <span class="icon icon-eye" aria-hidden="true"></span>
                        Ver memorias (PDF)
                    </a>
                    <a href="files/2011/MemoriasColoquiodeEnergia.pdf" class="btn btn-default btn-large" download="MemoriasColoquiodeEnergía.pdf" target="_blank">
                        <span class="icon icon-eye" aria-hidden="true"></span>
                        Descargar memorias (PDF)
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}
