{% extends '_base.html' %}

{% block content %}

<div class="outer-container">
    <div class="inner-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="page-header">
                        <h1>Normas para la presentación de trabajos</h1>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-center">Orales (simultáneas)</h2>
                            <ol>
                                <li>
                                    La duración de la exposición es de 10 minutos y 5 minutos de preguntas.
                                </li>
                                <li>
                                    La presentación puede hacerse en Power Point, pero debe traerse la misma en formato pdf para evitar problemas de compatibilidad del software y la computadora
                                </li>
                                <li>
                                    La persona que va a presentar su trabajo puede traer su computadora si así lo desea, pero se tendrá una computadora  para cada sesión simultánea.
                                </li>
                                <li>
                                    Los autores podrán integrar a su presentación el logotipo del coloquio, el cual está disponible en la página del Coloquio.
                                </li>
                                <li>
                                    Se les pide a los autores carguen su presentación en la computadora que estará disponible en cada sala o que prueben en la propia 15 minutos antes de que empiece la sesión simultánea.
                                </li>
                            </ol>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-center">Murales</h2>
                            <ol>
                                <li>
                                    La dimensiones máximas de los murales serán de 90cm de ancho por 120cm de alto.
                                </li>
                                <li>
                                    Los autores podrán integrar a su mural el logotipo del coloquio, el cual está disponible en la página del Coloquio.
                                </li>
                                <li>
                                    Se les pide que peguen su póster 15 minutos antes de que empiece la sesión de murales.
                                </li>
                            </ol>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-center">Prototipos</h2>
                            <ol>
                                <li>
                                    Las personas que van a presentar prototipos deben indicarnos las dimensiones que ocuparán y si es necesario algún requerimiento específico para garantizar el buen funcionamiento del mismo, su visibilidad o seguridad para su exposición (por ejemplo mesas, contactos eléctricos, zona con sol, etc.).
                                </li>
                                <li>
                                    Asimismo deben enviarnos por correo electrónico un listado del equipo que se expondrá para que los organizadores puedan registrar y entregar a vigilancia su vale de entrada y salida de las instalaciones de la Facultad de Ciencias.
                                </li>
                                <li>
                                    La instalación de los equipos debe realizarse media hora antes del inicio de la sesión prototipos que será simultánea a la sesión de murales.
                                </li>
                            </ol>
                        </div>
                    </div>

                    <hr>

                    <p>
                        Cualquier duda o comentario  pueden dirigirse a los organizadores a través del correo electrónico <strong>coloquio@champagn.fciencias.unam.mx</strong>, o bien al teléfono <strong>562-24843</strong>.
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
