{% extends "_base.html" %}

{% block content %}
    <div class="outer-container">

        <div class="inner-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="text-justify" id="event-call">

                            <hr>

                            <h1 class="text-center">3er. COLOQUIO DE ENERGÍA <br> USO ACTUAL DE LA ENERGÍA Y ENERGÍAS RENOVABLES</h1>
                            <br />

                            <div id="event-main">
                                <p>
                                    Con la experiencia de los dos Coloquios de Energía realizados en 2011 y 2013, en la Facultad de Ciencias de la UNAM y con el propósito de consolidar a este evento, el Comité Organizador del 3er. Coloquio de Energía consideró conveniente realizarlo en el estado de Chiapas. Esta decisión fue motivada, en gran medida, por la notable participación de investigadores, académicos y estudiantes de esta entidad en estos dos Coloquios.
                                </p>

                                <p>
                                    De esta forma es que nos dimos a la tarea de buscar apoyo institucional en el estado de Chiapas, encontrándolo en el recientemente fundado <strong>Centro Mesoamericano de Física Teórica</strong> (<strong>MCTP</strong>, por sus siglas en inglés, con sede en la ciudad de Tuxtla Gutiérrez), la <strong>Universidad Autónoma de Chiapas</strong> y la <strong>Universidad Politécnica de Chiapas</strong>, que son instituciones fundamentales para este estado. Asimismo, se incorpora al Comité Organizador la <strong>Universidad Autónoma Metropolitana Iztapalapa</strong>. Todo esto nos congratula enormemente, ya que el evento se verá fortalecido con todas estas nuevas instituciones convocantes.
                                </p>

                                <p>
                                    El objetivo fundamental del Coloquio sigue siendo conocer la relevancia del desarrollo y de la aplicación de nuevas tecnologías que permitan transitar hacia un uso más racional de los recursos energéticos. Este evento es necesario, no sólo para crear conciencia de los grandes problemas que se avecinan, como la crisis energética y el impacto del uso actual de los recursos energéticos fósiles, sino también para conocer las distintas estrategias que se pueden implementar para abordar estos problemas de una manera colectiva e inteligente.
                                </p>

                                <p>
                                    <strong>El 3er. Coloquio de Energía: Uso Actual de la Energía y Energías Renovables, se realizará del 2 al 5 de septiembre de 2015, en la ciudad de Tuxtla Gutiérrez, Chiapas</strong>. Habrá conferencias Magistrales y Mesas Redondas por parte de distinguidos especialistas nacionales y extranjeros, así como presentaciones orales y posters. Además, en esta ocasión también se llevarán a cabo conferencias y Talleres de Divulgación dirigidos a maestros y estudiantes de primaria, secundaria y preparatoria.
                                </p>

                                <p>
                                    Se convoca a estudiantes, profesores, investigadores y público en general a asistir y/o presentar trabajos sobre temas relacionados con el uso actual de la Energía; Energía Solar, Eólica, Geotérmica, Mareomotriz, Biomasa y Energías Renovables en general. Los trabajos pueden ser Sesiones Simultáneas o Murales (carteles), tanto de carácter experimental como teórico, así como prototipos de experimentos y/o aplicaciones.
                                </p>

                                <p>
                                    <strong>
                                        Como en otras ocasiones no hay cuota de inscripción, con el propósito de que todas las personas puedan asistir a cualquiera de las actividades de este 3er. Coloquio de Energía.
                                    </strong>
                                </p>

                            </div>

                            <hr />

                            <div class="text-center">
                                <a href="files/PresentacionColoquio.pdf" target="_blank" class="btn btn-default btn-large">
                                    <span aria-hidden="true" class="icon icon-eye"></span>
                                    Presentación del Coloquio (PDF)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
