{% extends '_base.html' %}
{% block content %}

<div class="outer-container">
    <div class="inner-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-header">
                        <h1>Programa, <small>del 21 al 25 de octubre de 2013</small></h1>
                    </div>

                    <p>En este enlace se anexa el programa de evento.</p>

                    <div class="text-center">
                        <a href="files/programa-final.pdf" class="btn btn-large">
                            <span aria-hidden="true" data-icon="&#xe039;"></span>
                            Ver programa (PDF)
                        </a>
                        <a href="files/programa-final.pdf" class="btn btn-large" download="Programa Final.pdf">
                            <span aria-hidden="true" data-icon="&#xe048;"></span>
                            Descargar programa (PDF)
                        </a>
                    </div>
                </div>
                {# <div class="col-md-3">
                    <h2>Programa del día</h2>
                    <ul class="nav nav-pills nav-stacked">
                        {% block mondaynav %}
                        <li>
                            <a href="">Lunes</a>
                        </li>
                        {% endblock %}
                        {% block tuesdayblock %}
                        <li>
                            <a href="">Martes</a>
                        </li>
                        {% endblock %}
                        {% block wednesday %}
                        <li>
                            <a href="">Miércoles</a>
                        </li>
                        {% endblock %}
                        {% block thursdayblock %}
                        <li>
                            <a href="">Jueves</a>
                        </li>
                        {% endblock %}
                        {% block fridayblock %}
                        <li>
                            <a href="">Viernes</a>
                        </li>
                        {% endblock %}
                    </ul>
                </div> #}
            </div>
        </div>
    </div>
</div>

{% endblock %}
