<div ng-controller="UsersController">

    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>
                    Usuarios registrados
                </h1>
            </div>
            <div class="span12">
                <div class="alert alert-info text-center" ng-show="isAdmin()">
                    Administrador, tienes acceso a una lista de todos los usuarios registrados.
                </div>
            </div>
            <div class="span12">
                <form class="form-inline" novalidate>
                    <div class="users-options clearfix">
                        <label class="checkbox inline">
                            <input type="checkbox" ng-model="worksOnly" ng-change="updateView()"> Sólo los que han enviado trabajos
                        </label>
                        <div ng-show="isAdmin()" class="pull-right">
                            <a ng-href="{{ downloadHref }}" class="btn" target="download-frame">Descargar información</a>
                        </div>
                    </div>
                </form>
                <iframe id="download-frame" frameborder="0" style="display: none"></iframe>
            </div>
        </div>

        <div class="row" ng-hide="dataReady">
            <div class="span12">
                <div class="hero-unit">
                    <div class="progress progress-striped active">
                        <div class="bar" style="width: 100%"></div>
                    </div>
                    <div class="text-center">Por favor espera...</div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="dataReady" ng-switch on="users.length > 0">
            <div class="span12 details" ng-switch-when="true">
                <div class="users-list">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Trabajos</th>
                                <th>Último acceso</th>
                                <!-- <th></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <!-- <td>

                                </td> -->
                                <td>
                                    <div class="user-name">
                                        <p>
                                            <a ng-href="#!/usuario/{{user.id}}/perfil">{{ user.name }}</a>
                                        </p>
                                        <small>
                                            {{ user.email }}
                                        </small>
                                    </div>
                                </td>
                                <td ng-switch on="user.works.length > 0">
                                    <div ng-switch-when="true" class="works-list">
                                        <div ng-repeat="work in user.works">
                                            <div class="work-status" ng-class="{'work-finished': work.finished}">
                                                <div class="status-mark">
                                                    <div ng-show="work.finished"aria-hidden="true" data-icon="&#xe035;" title="Trabajo enviado a revisión"></div>
                                                    <div ng-hide="work.finished" aria-hidden="true" data-icon="&#xe00a;" title="Trabajo no ha sido enviado a revisión"></div>
                                                </div>
                                            </div>
                                            <div class="work-status" ng-class="{'work-approved': work.approved}">
                                                <div class="status-mark">
                                                    <div ng-hide="work.approved" aria-hidden="true" data-icon="&#xe00a;" title="Trabajo no ha sido aprobado"></div>
                                                    <div ng-show="work.approved" aria-hidden="true" data-icon="&#xe00b;" title="Trabajo aprobado"></div>
                                                </div>
                                            </div>
                                            <span class="works-title">
                                                <a ng-href="#!/trabajos/{{ work.id }}">{{ work.title }}</a>
                                            </span>
                                        </div>
                                    </div>
                                    <span ng-switch-when="false" class="text-info">
                                        <span style="font-size: 1.2em" aria-hidden="true" data-icon="&#xe008;"></span> Este usuario sólo está registrado.
                                    </span>
                                </td>
                                <td>
                                    {{ user.lastAccess }}
                                </td>
                                <!-- <td>
                                    <div class="text-left" ng-show="!!work.finished" title="Bloqueado">
                                        <div style="font-size: 2em" aria-hidden="true" data-icon="&#xe005;"></div>
                                    </div>
                                    <div>
                                        <a class="text-left" ng-show="!work.finished" ng-click="false" title="Eliminar">
                                            <div style="font-size: 2em" aria-hidden="true" data-icon="&#xe018;"></div>
                                        </a>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="span12" ng-switch-when="false">
                <div class="alert alert-info text-center">
                    <h2>Ningún resumen satisface el criterio seleccionado</h2>
                </div>
            </div>
        </div>

    </div>
</div>
