<div ng-controller="WorksController">

    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>
                    Trabajos registrados
                </h1>
            </div>
            <div class="span12">
                <div class="alert alert-info text-center" ng-show="isAdmin()">
                    Administrador, tienes acceso a la lista de todos los trabajos guardados.
                </div>
            </div>
            <div class="span12">
                <form class="form-inline" novalidate>
                    <div class="works-options clearfix">
                        <label ng-show="isAdmin()" class="checkbox inline">
                            <input type="checkbox" ng-model="allWorks" ng-change="updateView()">Todos los trabajos
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" ng-model="finishedOnly" ng-change="updateView()"> Sólo enviados a revisión <span aria-hidden="true" data-icon="&#xe035;"></span>
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" ng-model="approvedOnly" ng-change="updateView()"> Sólo aprobados <span aria-hidden="true" data-icon="&#xe00b;"></span>
                        </label>
                        <div ng-show="isAdmin()" class="pull-right">
                            <a ng-href="{{ downloadHref }}" class="btn" target="download-frame">Descargar información</a>
                        </div>
                    </div>
                </form>
                <iframe id="download-frame" frameborder="0" style="display: none"></iframe>
            </div>
        </div>

        <div class="row" ng-hide="dataReady">
            <div class="span12">
                <div class="hero-unit">
                    <div class="progress progress-striped active">
                        <div class="bar" style="width: 100%"></div>
                    </div>
                    <div class="text-center">Por favor espera...</div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="dataReady" ng-switch on="works.length > 0">
            <div class="span12 details" ng-switch-when="true">
                <div class="works-list">
                    <div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Estado</th>
                                    <th>Título</th>
                                    <th ng-show="allWorks">Usuario</th>
                                    <th>Clasificación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="work in works">
                                    <td class="work-status-cell">
                                        <div class="work-status" ng-class="{'work-finished': work.finished}">
                                            <div class="status-mark">
                                                <div ng-show="work.finished"aria-hidden="true" data-icon="&#xe035;" title="Trabajo enviado a revisión"></div>
                                                <div ng-hide="work.finished" aria-hidden="true" data-icon="&#xe00a;" title="Trabajo no ha sido enviado a revisión"></div>
                                            </div>
                                        </div>
                                        <div class="work-status" ng-class="{'work-approved': work.approved}">
                                            <div class="status-mark">
                                                <div ng-show="work.approved" aria-hidden="true" data-icon="&#xe00b;" title="Trabajo aprobado"></div>
                                                <div ng-hide="work.approved" aria-hidden="true" data-icon="&#xe00a;" title="Trabajo no ha sido aprobado"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width: 40%; max-width: 40%">
                                        <h4>
                                            <a ng-href="#!/trabajos/{{work.id}}">{{ work.title | jsmathify }}</a>
                                        </h4>
                                    </td>
                                    <td ng-show="work.user">
                                        <div class="work-user">
                                            <p>
                                                <a href="" ng-href="#!/usuario/{{ work.user.id }}/perfil">{{ work.user.name }}</a>
                                            </p>
                                            <small>{{ work.user.email }}</small>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="work-tag">
                                            <p>{{ work.tag }} <span ng-show="work.tag=='Otra'">- {{ work.otherTag }}</span></p>
                                            <small>{{ work.eventMode | workmode }}</small>
                                        </div>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <div class="text-left" ng-show="!!work.finished" title="Bloqueado">
                                            <div style="font-size: 2em" aria-hidden="true" data-icon="&#xe005;"></div>
                                        </div>
                                        <div>
                                            <a class="text-left" ng-show="!work.finished" ng-click="false" title="Eliminar">
                                                <div style="font-size: 2em" aria-hidden="true" data-icon="&#xe018;"></div>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="span12" ng-switch-when="false">
                <div class="alert alert-info text-center">
                    <h2>Ningún resumen satisface el criterio seleccionado</h2>
                </div>
            </div>
        </div>

    </div>
</div>
