<div ng-controller="AuthorController">
    <div class="container" ng-show="!authorReady && !_new">
        <div class="row">
            <div class="span12">
                <div class="hero-unit">
                    <div class="progress progress-striped active">
                        <div class="bar" style="width: 100%"></div>
                    </div>
                </div>
                <div class="text-center">Por favor espera...</div>
            </div>
        </div>
    </div>
    <div class="container" ng-show="authorReady || _new">
        <div class="row">
            <div class="span8 text-center" ng-switch on="currentView">
                <!-- Begin edit form -->
                <div ng-switch-when="EDIT">
                    <form name="authorForm" class="form-horizontal" novalidate>
                        <div class="control-group">
                            <label class="control-label" for="email">
                                <span class="text-error">
                                    <strong>*</strong>
                                </span>
                                Nombre(s):
                            </label>
                            <div class="controls">
                                <input ng-model="author.firstName" class="input-block-level" type="text" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="text">
                                <span class="text-error">
                                    <strong>*</strong>
                                </span>
                                Apellidos(s):
                            </label>
                            <div class="controls">
                                <input ng-model="author.lastName" class="input-block-level" type="text" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="text">
                                 <span class="text-error">
                                    <strong>*</strong>
                                </span>
                                Correo electrónico:
                            </label>
                            <div class="controls">
                                <input ng-model="author.email" class="input-block-level" type="email" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="text">
                                <span class="text-error">
                                    <strong>*</strong>
                                </span>
                                Afiliación:
                            </label>
                            <div class="controls">
                                <input ng-model="author.affiliation" class="input-block-level" type="text" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="text">Dirección de la entidad de afiliación:</label>
                            <div class="controls">
                                <input ng-model="author.affiliationAddress" class="input-block-level" type="text">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="text">
                                <span class="text-error">
                                    <strong>*</strong>
                                </span>
                                Ocupación:
                            </label>
                            <div class="controls">
                                <input ng-model="author.occupation" class="input-block-level" type="text" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="text">Número telefónico:</label>
                            <div class="controls">
                                <input ng-model="author.phone" class="input-block-level" type="tel">
                            </div>
                        </div>
                        <button style="display: none;" ng-disabled="propagateFormState(authorForm)"></button>
                    </form>
                    <div>
                        <p class="text-right">
                            <span class="text-error">
                                <strong>*</strong>
                            </span>
                            Campos obligatorios.
                        </p>
                    </div>
                </div>
                <!-- End edit form -->
            </div>

            <!-- Begin info -->
            <div class="span4">
                <div class="alert alert-info">
                    <h2>Información</h2>
                    <table class="table table-hover">
                        <tr>
                            <td>Nombres:</td>
                            <td>{{ author.firstName }}</td>
                        </tr>
                        <tr>
                            <td>Appellidos:</td>
                            <td>{{ author.lastName }}</td>
                        </tr>
                        <tr>
                            <td>Correo electrónico:</td>
                            <td>{{ author.email }}</td>
                        </tr>
                        <tr>
                            <td>Ocupación:</td>
                            <td>{{ author.occupation }}</td>
                        </tr>
                        <tr>
                            <td>Afiliación:</td>
                            <td>{{ author.affiliation }}</td>
                        </tr>
                        <tr>
                            <td>Dirección de afiliación:</td>
                            <td>{{ author.affiliationAddress }}</td>
                        </tr>
                        <tr>
                            <td>Teléfono:</td>
                            <td>{{ author.phone }}</td>
                        </tr>
                    </table>
                </div>

                <!-- Redirect message -->
                <div class="alert alert-success text-center" ng-show="saveSuccess">
                    <h5>El autor ha sido guardado exitosamente.</h5>
                    <p>Por favor espera...</p>
                </div>
                <!-- End redirect message -->

                <!-- Success message -->
                <div class="alert alert-success text-center" ng-show="updateSuccess">
                    <button type="button" class="close" ng-click="hideSuccessMessage()">&times;</button>
                    <h5>Los cambios han sido guardados exitosamente</h5>
                </div>
                <!-- End success message -->

                <!-- Error message -->
                <div class="alert alert-error text-center" ng-show="updateError">
                    <button type="button" class="close" ng-click="hideErrorMessage()">&times;</button>
                    <h5>Ups, hubo un error. Por favor intenta de nuevo.</h5>
                </div>
                <!-- End error message -->

                <div class="text-right">
                    <button class="btn btn-large" ng-hide="currentView=='EDIT'" ng-click="displayEditForm()" title="Editar información">
                        <div style="font-size: 2em" data-icon="&#xe00d;" aria-hidden="true"></div>
                    </button>

                    <!-- <button class="btn btn-large" ng-hide="currentView=='AUTHORS'" ng-click="displayAuthors()" title="Trabajos asociados">
                        <div style="font-size: 2em" data-icon="&#xe03c;" aria-hidden="true"></div>
                    </button> -->
                    <button ng-show="!_new" ng-disabled="!validForm" class="btn btn-large btn-primary" ng-click="updateAuthor()" title="Actualizar información">
                        <div style="font-size: 2em" data-icon="&#xe03a;" aria-hidden="true"></div>
                    </button>
                    <button ng-show="_new" ng-disabled="!validForm" class="btn btn-large btn-primary" ng-click="createAuthor()" title="Guardar información">
                        <div style="font-size: 2em" data-icon="&#xe03b;" aria-hidden="true"></div>
                    </button>
                </div>

            </div>
            <!-- End info -->

        </div>
    </div>
</div>
