<div ng-controller="DashboardController">

    <div class="container" ng-hide="dataReady()">
        <div class="hero-unit">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%"></div>
            </div>
            <div class="text-center">Por favor espera...</div>
        </div>
    </div>

    <div class="container" ng-show="dataReady()">
        <div class="row">
            <div class="span12">
                <table class="table">
                    <tr>
                        <td>
                            <h1>Vista global de tu cuenta</h1>
                        </td>
                        <td>
                             <span class="pull-right label label-info clearfix">Ultimo accesso: {{ user.lastAccess }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div ng-show="hasSignupSuccessMessage()" class="alert alert-success text-center">
            <button type="button" class="close" ng-click="hideSignupSuccessMessage()" data-dismiss="alert">&times;</button>
            <h2>¡Ya estás registrado en el sistema!</h2>
            <p>
                Si sólo piensas asistir al Coloquio has concluido el proceso de inscripción. Tu correo electrónico nos
                permitirá mantenernos en contacto contigo.
            </p>
            <p>
                Si quieres registrar algún trabajo siéntete libre de hacerlo, sólo ten en cuenta las fechas de la convocatoria
                del evento.
            </p>
        </div>

        <div class="row" ng-switch on="works.length > 0">
            <div class="span12 details" ng-switch-when="true">
                <div class="works">
                    <h2>Resumenes guardados</h2>
                    <div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Estado</th>
                                    <th>Título</th>
                                    <th>Modalidad</th>
                                    <th>Categoría</th>
                                    <th>Modificado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="work in works">
                                    <td class="work-status-cell">
                                        <div class="work-status" ng-hide="work.approved" ng-class="{'work-finished': work.finished}">
                                            <div class="status-mark">
                                                <div ng-show="work.finished" aria-hidden="true" data-icon="&#xe035;" title="Trabajo enviado a revisión"></div>
                                                <div ng-hide="work.finished" aria-hidden="true" data-icon="&#xe00a;" title="Trabajo no ha sido enviado a revisión"></div>
                                            </div>
                                        </div>
                                        <div class="work-status" ng-hide="!work.approved" ng-class="{'work-approved': work.approved}">
                                            <div class="status-mark">
                                                <div ng-show="work.approved" aria-hidden="true" data-icon="&#xe00b;" title="Trabajo aprobado"></div>
                                                <div ng-hide="work.approved" aria-hidden="true" data-icon="&#xe00a;" title="Trabajo no ha sido aprobado"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><a href="#!/trabajos/{{work.id}}">{{ work.title | jsmathify }}</a></td>
                                    <td>{{ work.eventMode | workmode }}</td>
                                    <td>{{ work.tag }} <span ng-show="work.tag=='Otra'">- {{ work.otherTag }}</span></td>
                                    <td>{{ work.lastModified }}</td>
                                    <td>
                                        <div class="text-left" ng-show="!!work.finished" title="Bloqueado">
                                            <div style="font-size: 2em" aria-hidden="true" data-icon="&#xe005;"></div>
                                        </div>
                                        <div>
                                            <a class="text-left" ng-show="!work.finished" ng-click="deleteWork(work.id)" title="Eliminar">
                                                <div style="font-size: 2em" aria-hidden="true" data-icon="&#xe018;"></div>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-large" title="Añadir resumen" ng-href="#!/trabajos/crear">
                            <span style="font-size: 2em; vertical-align: middle" aria-hidden="true" data-icon="&#xe040;"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="span12" ng-switch-when="false">
                <div class="alert alert-info text-center">
                    <h2>Parece que no has registrado ningún resumen </h2>
                    <p>Puedes agregar cuantos resumenes quieras. Estos deben tener menos de 300 palabras.</p>
                    <div class="text-right">
                        <a class="btn btn-large" title="Crear resumen" ng-href="#!/trabajos/crear">
                            <div style="font-size: 2em" aria-hidden="true" data-icon="&#xe040;"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--Begin authors section-->
        <div class="row" ng-switch on="authors.length > 0">
            <div class="span12 details" ng-switch-when="true">
                <div class="authors">
                    <h2>Autores guardados</h2>
                    <div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th>Afiliación</th>
                                    <th>Correo electrónico</th>
                                    <th>Teléfono</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="author in authors">
                                    <td>
                                        <div ng-hide="author.associations.length > 0">
                                            <a ng-click="deleteAuthor(author.id)" title="Eliminar">
                                                <div style="font-size: 2em" aria-hidden="true" data-icon="&#xe018;"></div>
                                            </a>
                                        </div>
                                        <div ng-show="author.associations.length > 0">
                                            <div style="font-size: 2em" aria-hidden="true" data-icon="&#xe005;" title="Bloqueado. Autor esta asociado a un trabajo."></div>
                                        </div>
                                    </td>
                                    <td><a href="#!/autores/{{author.id}}">{{ author.lastName }}, {{ author.firstName }}</a></td>
                                    <td>{{ author.affiliation }}</td>
                                    <td>{{ author.email }}</td>
                                    <td>{{ author.phone }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-large" title="Añadir autor" ng-href="#!/autores/crear">
                            <div style="font-size: 2em" aria-hidden="true" data-icon="&#xe00e;"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="span12" ng-switch-when="false">
                <div class="alert alert-info text-center">
                    <h2>Parece que no has guardardo ningún autor</h2>
                    <p>Los Autores corresponden a los colaboradores de un trabajo. Estos se crean individualmente y después
                    se asocian con un trabajo en particular. Así, varios trabajos pueden tener los mismos autores sin tener
                    que escribir la información en cada uno.
                    </p>
                    <div class="text-right">
                        <a class="btn btn-large" title="Crear autor" ng-href="#!/autores/crear">
                            <div style="font-size: 2em" aria-hidden="true" data-icon="&#xe00e;"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--End authors section-->

    </div>
</div>
