<div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="alert alert-warning text-center">
                    <p style="text-align: center; font-size: 6em">
                        <span data-icon="&#xe005;" aria-hidden="true"></span>
                    </p>
                    <h1>No tienes acceso a este recurso</h1>
                </div>
            </div>
        </div>
    </div>
</div>