<div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="alert alert-info text-center">
                    <p style="text-align: center; font-size: 6em">
                        <span data-icon="&#xe046;" aria-hidden="true"></span>
                    </p>
                    <h1>El recurso que buscas no existe</h1>
                </div>
            </div>
        </div>
    </div>
</div>