<div ng-controller="AccessController">

    <div class="container">
        <div class="row" >

            <div class="span8">
                <div class="hero-unit">
                    <h1>Regístrate</h1>
                    <br />
                    <p>
                        Sólo necesitas un correo electrónico válido y una contraseña.
                    </p>
                    <hr>
                    <div class="registration-block">
                        <form name="regForm" class="form-horizontal" novalidate>
                            <div class="control-group">
                                <label for="name" class="control-label"> <strong>Nombre para mostrar</strong> </label>
                                <div class="controls">
                                    <p>
                                        <input ng-model="signup.name" type="text" class="input-block-level" name="displayName" tabindex="3" placeholder="Para reconocerte fácilmente" required />
                                    </p>
                                    <div class="alert alert-error" ng-show="regForm.displayName.$invalid && regForm.displayName.$dirty">
                                        <small>No puedes dejar vacío este campo</small>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="email"><strong>Correo electrónico. Será empleado para comunicarnos contigo.</strong></label>
                                <div class="controls">
                                    <p>
                                        <input ng-model="signup.email" name="email" class="input-block-level" ng-unique-email="true" tabindex="3" type="email" placeholder="Correo electrónico" required>
                                    </p>
                                    <div class="alert alert-success" ng-show="regForm.email.$dirty && regForm.email.$valid">
                                        <small>Correo electrónico válido.</small>
                                    </div>
                                    <div class="alert alert-error" ng-show="regForm.email.$error.exists">
                                        <small>Este email ya ha sido usado</small>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="password"><strong>Contraseña</strong></label>
                                <div class="controls">
                                    <p>
                                        <input ng-model="signup.password" ng-pattern="/^.{8,}$/" name="password" class="input-block-level" tabindex="4" type="password" placeholder="Contraseña" required>
                                    </p>
                                    <div class="alert alert-error" ng-show="regForm.password.$error.pattern">
                                        <small>Contraseña muy corta.</small>
                                    </div>
                                    <hr>
                                    <p class="alert alert-info">
                                        <small><strong>Importante:</strong> la contraseña debe contener al menos 8 caracteres arbitarios</small>
                                    </p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="password"><strong>Confirmar contraseña</strong></label>
                                <div class="controls">
                                    <p>
                                        <input ng-model="signup.confirmPassword" ng-pattern="/^.{8,}$/" name="confirmPassword" class="input-block-level" tabindex="4" type="password" placeholder="Confirmar Contraseña" required>
                                    </p>
                                    <div class="alert alert-error" ng-hide="signupPasswordsMatch(regForm)">
                                        <small>Las contraseñas no coinciden</small>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">
                                <button ng-click="sendRegistrationData()" class="register-button btn btn-success btn-large" ng-disabled="disableSignupSubmit(regForm)">
                                    Registrate
                                </button>
                            </p>
                        </form>
                    </div>
                </div>

                <!-- Start login block -->
                <div class="login-block" style="text-align: center">

                </div>
                <!-- End login block -->
            </div>

            <div class="span4">

                <div class="alert alert-info text-center">
                    <h2>¿Ya estás registrado?</h2>
                    <p>Sólo ingresa tu correo electrónico y contraseña para ingresar.</p>
                </div>

                <form class="horizontal-form" name="loginForm" novalidate>
                    <div class="control-group">
                        <label class="control-label" for="loginEmail">
                            Correo electrónico
                        </label>
                        <div class="controls">
                            <p>
                                <input ng-model="loginEmail" type="email" class="input-block-level" name="email" required />
                            </p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="loginPassword" class="control-label">
                            Contraseña
                        </label>
                        <div class="controls">
                            <p>
                                <input ng-model="loginPassword" type="password" ng-pattern="/^.{8,}$/" class="input-block-level" name="password" required />
                            </p>
                        </div>
                    </div>
                    <div class="alert alert-error" ng-show="loginError">
                        <button ng-click="hideLoginMessage()" class="close">&times;</button>
                        <p>La combinación de correo electrónico y contraseña es incorrecta.</p>
                    </div>
                    <div class="alert alert-error" ng-show="serverError">
                        <button ng-click="hideServerErrorMessage()" class="close">&times;</button>
                        <p>Error de servidor. Por favor contacte al administrador del sitio.</p>
                    </div>
                    <p>
                        <button ng-click="sendLoginData()" ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid" type="submit" class="btn btn-info btn-large">
                            Acceder
                        </button>
                    </p>
                </form>

                <!-- Main hero unit for a primary marketing message or call to action -->
            </div>

        </div>

    </div>

</div>
