<!--[if lt IE 7]>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="alert alert-warning text-center">
                <div style="font-size: 7em" data-icon="&#xe020;" aria-hidden="true"></div>
                <hr>
                <p class="chromeframe">Tu explorador web es <strong>obsoleto</strong>, y esta aplicación puede funcionar incorrectamente. Por favor <a href="http://browsehappy.com/">actualiza tu explorador</a> o <a href="http://www.google.com/chromeframe/?redirect=true">activa Google Chrome Frame</a> para mejorar tu experiencia.</p>
            </div>
        </div>
    </div>
</div>
<![endif]-->

<!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="StatusController">
    <div class="navbar-inner">
        <div class="navbar-bg-image">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a ng-show="userLogged()" class="brand" href="#!/vision-general">Registro - Coloquio de Energía</a>
                <a ng-hide="userLogged()" class="brand" href="#!/">Tercer Coloquio de Energía</a>
                <div class="nav-collapse collapse user user-nav hidden-print">
                    <ul ng-show="!userLogged()" class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="../">
                                Sitio del Evento
                            </a>
                        </li>
                        <li>
                            <a href="../convocatoria.html">
                                Convocatoria
                            </a>
                        </li>
                        <li class="divider-vertical"></li>
                    </ul>
                    <ul ng-show="userLogged()" class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li>
                            <span class="gravatar">
                                <img ng-src="{{ user.gravatarUrlSmall }}">
                            </span>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" ng-href="">{{ user.name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="nav-header">Cuenta</li>
                                <li>
                                    <a ng-href="#!/usuario/actual/perfil">Perfil</a>
                                </li>
                                <li>
                                    <a href="#!/vision-general">Visión general</a>
                                </li>
                                <li ng-show="isAdmin()">
                                    <a href="#!/usuarios">Usuarios registrados</a>
                                </li>
                                <li>
                                    <a href="#!/trabajos">Trabajos registrados</a>
                                </li>
                                <li class="divider"></li>
                                <li class="nav-header">Información externa</li>
                                <li>
                                    <a href="/coloquio/" target="_blank">Sitio del evento</a>
                                </li>
                                <li>
                                    <a href="/coloquio/convocatoria.html" target="_blank">Convocatoria</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ng-click="logout()">Cerrar sesión</a>
                        </li>
                        <li class="divider-vertical"></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

