<div ng-controller="UserController">
    <p>
        This is the partial for view 1.
    </p>
    {{ result }}
    <ul class="result">
        <li ng-repeat="(prop, value) in result.user">
            {{ prop }}: {{ value }}
        </li>
    </ul>
</div>