<div ng-controller="ServerErrorController">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="alert alert-error text-center">
                    <p style="text-align: center; font-size: 6em">
                        <span data-icon="&#xe042;" aria-hidden="true"></span>
                    </p>
                    <h1>Ha ocurrido un error grave</h1>
                    <p>
                        Por favor inténtelo de nuevo más tarde o contacte al administrador del sistema.
                    </p>
                    <p>
                        Codigo de error: <strong>{{ statusCode }}</strong>, <strong>{{ statusDescription }}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>