<div ng-controller="UserController">
    <div class="container">
        <!--Begin details section-->
        <div class="row" ng-show="displayDetails">
            <div class="span8" ng-switch on="currentView">
                <div class="row">
                    <div class="span2">
                        <div class="gravatar">
                            <img ng-src="{{ user.gravatarUrl }}">
                        </div>
                    </div>
                    <div class="span6">
                        <h1>{{ user.name }}</h1>
                        <span class="label label-info" ng-show="user.id == loggedUser.id">
                                Tu cuenta
                        </span>
                        <span class="label label-info" ng-show="user.role == 1">
                            Cuenta de Administrador
                        </span>
                    </div>
                </div>

                <br />
                <!-- Begin details -->
                <table class="table table-hover" ng-switch-when="PREVIEW">
                    <tbody>
                        <tr>
                            <td>Correo electrónico</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Ultimo acceso</td>
                            <td>{{ user.lastAccess }}</td>
                        </tr>
                        <tr>
                            <td>Nivel de acceso:</td>
                            <td>{{ user.role | accesslevel }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- End details -->

                <!-- Begin edit form -->
                <form name="userForm" class="form-horizontal" ng-switch-when="EDIT" novalidate>
                    <div class="control-group">
                        <label class="control-label" for="displayName"><strong>Nombre</strong></label>
                        <div class="controls">
                            <input ng-model="user.name" tabindex="1" name="displayName" class="input-block-level" type="text" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email"><strong>Correo electrónico</strong></label>
                        <div class="controls">
                            <p>
                                <input ng-model="user.email" tabindex="2" ng-unique-email="{{ user.id }}" name="email" class="input-block-level" type="email" required>
                            </p>
                            <div ng-show="userForm.email.$valid && userForm.email.$dirty" class="alert alert-success">
                                Este email parece correcto.
                            </div>
                            <div class="alert alert-error" ng-show="userForm.email.$error.exists">
                                Este email ya ha sido usado.
                            </div>
                        </div>
                    </div>
                    <div class="alert">
                        Tu correo electrónico no será compartido con nadie.
                    </div>
                    <hr />

                    <div class="control-group">
                        <label class="control-label" for="email"><strong>Nueva contraseña</strong></label>
                        <div class="controls">
                            <p>
                                <input ng-model="user.newPassword" tabindex="3" name="newPassword" ng-pattern="/^(.){8,}$/" class="input-block-level" type="password" required />
                            </p>
                            <div class="alert alert-success" ng-show="userForm.newPassword.$valid && userForm.newPassword.$dirty">
                                La contraseña parece aceptable.
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email"><strong>Confirmar contraseña</strong></label>
                        <div class="controls">
                            <p>
                                <input ng-model="user.confirmPassword" tabindex="4" name="confirmPassword" class="input-block-level" type="password" required />
                            </p>
                            <div class="alert alert-success" ng-show="matchPasswords(userForm)">
                                Se considera que las contraseñas coinciden.
                            </div>
                        </div>
                    </div>
                    <div class="alert text-center">
                        <h2>Atención</h2
                        <p>Tu contraseña actual no se cambiará a menos que ambos campos coincidan.</p>
                    </div>
                    <button ng-hide="true" ng-disabled="disableSetSubmit(userForm)"></button>
                </form>
                <!-- End edit form -->

            </div>

            <!-- Info section -->
            <div class="span4">
                <div class="alert alert-info">
                    <h2>Importante:</h2>
                    <ul>
                        <li>La contraseña debe tener al menos 8 caracteres arbitrarios.</li>
                    </ul>
                </div>
                <div class="alert alert-success text-center" ng-show="updateSuccess">
                    <h4>Los cambios han sido guardados exitosamente</h4>
                    <br />
                    <button class="btn btn-default btn-success" ng-click="hideMessage()">Cerrar mensaje</button>
                </div>
                <div class="alert alert-error text-center" ng-show="updateFailure" ng-click="hideMessage()">
                    <h4>Hubo un error al guardar los cambios...</h4>
                    <button class="btn btn-default btn-error" ng-click="hideMessage()">Cerrar mensaje</button>
                </div>
                <p class="text-right">
                    <button ng-click="showEditForm()" ng-hide="currentView=='EDIT'" class="btn btn-large">
                        <div style="font-size: 2em" data-icon="&#xe00d;" aria-hidden="true" title="Editar información"></div>
                    </button>

                    <button ng-click="showDetails()" ng-hide="currentView=='PREVIEW'" class="btn btn-large">
                        <div style="font-size: 2em" data-icon="&#xe039;" aria-hidden="true"  title="Vista previa"></div>
                    </button>

                    <button ng-disabled="disableSub" ng-click="updateUser()" class="btn btn-primary btn-large">
                        <div style="font-size: 2em" data-icon="&#xe03a;" aria-hidden="true" title="Actualizar"></div>
                    </button>
                </p>
            </div>
        </div>
        <!--End info section-->

    </div>
</div>
