<div ng-controller="WorkController">

    <!--Begin main container-->
    <div class="container" ng-hide="!!work.id || _new">
        <div class="hero-unit">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%"></div>
            </div>
            <div class="text-center">Por favor espera...</div>
        </div>
    </div>

    <div class="container" ng-show="!!work.id || _new">
        <div class="row">

            <!-- Help Modal -->
            <div id="edit-help-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Ayuda para edición" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Instrucciones para registrar un resumen.</h3>
                </div>
                <div class="modal-body">
                    <p>Para registrar un resumen es obigatorio lo siguiente:</p>
                    <ul>
                        <li>Un título</li>
                        <li>Cuerpo del trabajo, <strong>no más de 300 palabras</strong></li>
                        <li>Modalidad, es decir, como se va a presentar en el evento</li>
                        <li>Categoría del mismo</li>
                        <li>Al menos un autor enlazado al trabajo.</li>
                    </ul>
                    <p>Para comenzar a editar el trabajo simplemente haz click en el botón <button class="btn"><span style="font-size: 2em" data-icon="&#xe00d;" aria-hidden="true"></span></button>, para guardarlo en <button class="btn"><span style="font-size: 2em" data-icon="&#xe03b;" aria-hidden="true"></span></button> y para actualizarlo en <button class="btn"><span style="font-size: 2em" data-icon="&#xe03a;" aria-hidden="true"></span></button>.</p>

                    <hr />
                    <h4>Autores de trabajo</h4>
                    <p>
                        Los autores son los individuos involucrados en el desarrollo del tema del resumen. El sistema permite registrar más de un autor, y posteriormente enlazarlos a diversos resúmenes. Para enlazar autores haz click en el botón <button class="btn"><span style="font-size: 2em" data-icon="&#xe003;" aria-hidden="true"></span></button>. Si quieres crear un autor ve a la barra de navegación superior, da click en el enlace que muestra tu nombre, y en el menú desplegable
                        en la sección <strong>Información personal</strong> da click en <strong>Resumen de tu cuenta</strong>, o si lo
                        prefieres puedes hacer click en el botón <button class="btn"><span style="font-size: 2em" data-icon="&#xe00e;" aria-hidden="true"></span></button>.
                    </p>
                    <div class="alert alert-warning text-center">
                        Para añadir un autor es necesario que guardes el trabajo primero dando click en el botón <button class="btn"><span style="font-size: 2em" data-icon="&#xe03b;" aria-hidden="true"></span></button>.
                    </div>

                    <hr />
                    <h4>Finalizar el resumen</h4>
                    <p>
                        Una vez que has guardado la información obligatoria del resumen y asociado al menos un autor es posible enviar el
                        mismo a revisión por parte de los organizadores del evento. Para esto da click en el botón <button class="btn"><span style="font-size: 2em" data-icon="&#xe035;" aria-hidden="true"></span></button>. Una vez que hagas esto ya no podrás modificar el trabajo.
                    </p>

                </div>

                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                </div>
            </div>
            <!-- End help modal -->

            <!-- Start multiview container -->
            <div class="span8" ng-switch on="currentView">

                <!-- Start preview subview -->
                <div ng-switch-when="PREVIEW">
                    <div class="clearfix aid preview-aid">
                        <a title="Ayuda" data-toggle="modal" data-target="#edit-help-modal">
                            <div class="pull-left" style="font-size: 2em;" data-icon="&#xe045;" aria-hidden="true"></div>
                        </a>
                        <span class="label label-info pull-right">
                           Vista previa
                        </span>
                    </div>
                    <h1>{{ work.title | emptymessage:"Aquí estará el título del trabajo" | jsmathify }}</h1>
                    <div class="clearfix" ng-switch on="work.associations.length > 0">
                        <ul class="unstyled pull-left" ng-switch-when="true">
                            <li ng-repeat="assoc in work.associations">
                                <em>{{ associationAuthor(assoc) }}</em>
                                <em ng-show="!!assoc.description">
                                    <strong>({{ assoc.description }})</strong>
                                </em>
                            </li>
                        </ul>
                        <div class="alert alert-warning" ng-switch-when="false">
                            <strong>¡Importante! Tu trabajo debe tener al menos un autor.</strong> Aquí estarán enlistados.
                        </div>
                    </div>
                    <hr />
                    <article>
                        {{ work.body | emptymessage:"Este será el mensaje del trabajo" | jsmathify }}
                    </article>
                    <hr />

                </div>
                <!-- End preview subview -->

                <!-- ####################################################################################################### -->

                <!--Begin edit subview-->
                <div ng-switch-when="EDIT">
                    <div class="clearfix aid edit-aid">
                        <a title="Ayuda" data-toggle="modal" data-target="#edit-help-modal">
                            <div class="pull-left" style="font-size: 2em;" data-icon="&#xe045;" aria-hidden="true"></div>
                        </a>
                        <a title="Consejos" data-toggle="modal" data-target="#edit-tips-modal">
                            <div class="pull-left" style="font-size: 2em;" data-icon="&#xe020;" aria-hidden="true"></div>
                        </a>
                        <span class="label label-info pull-right">
                           Vista de edición
                        </span>
                    </div>

                    <!-- Edit tips modal -->
                    <div id="edit-tips-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Ayuda para edición" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3>¿Sabías que?</h3>
                        </div>
                        <div class="modal-body">
                            <h4>Puedes usar fórmulas matemáticas en tu trabajo.</h4>
                            <p>Escríbelas usando macros de {{ latex | jsmathify }}.</p>
                            <p>
                                Para mostrar ecuaciones en línea con otro texto usa los delimitadores \( <em>ecuación</em> \), y se veran así: {{ '\\( x^2 +1 \\)' | jsmathify }}
                            </p>
                            <p>
                                Para mostrar ecuaciones en una línea aparte usa {{ '$$' }} <em>ecuación</em> {{ '$$' }}, y obtendrás algo así:
                            </p>
                            <p>{{ dispEqExample | jsmathify }}</p>
                            <p>
                                <strong>Tip: </strong>si necesitas escribir una ecuacion extensa y que cuente como una sola palabra evita los espacios entre macros.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                        </div>
                    </div>
                    <!-- End edit tips modal -->

                    <br />
                    <div>
                        <form name="workForm" class="form-horizontal" novalidate>

                            <!-- Título -->
                            <div class="control-group">
                                <label class="control-label" for="title">
                                    <span class="text-error">
                                        <strong>*</strong>
                                    </span>
                                    <strong>Título:</strong>
                                </label>
                                <div class="controls">
                                    <input ng-model="work.title" name="title" class="input-block-level" placeholder="Un título inspirador..." type="text" required>
                                </div>
                            </div>

                            <!-- Cuerpo -->
                            <div class="control-group">
                                <label class="control-label" for="body">
                                    <span class="text-error">
                                        <strong>*</strong>
                                    </span>
                                    <strong>Cuerpo:</strong>
                                </label>
                                <div class="controls">
                                    <textarea ng-model="work.body" placeholder="Aquí va el cuerpo del trabajo..." name="body" class="input-block-level" rows="20" columns="40" required></textarea>
                                </div>
                            </div>
                            <hr />

                            <!-- Modalidad -->
                            <div class="control-group">
                                <label class="control-label">
                                    <span class="text-error">
                                        <strong>*</strong>
                                    </span>
                                    <strong>Modalidad:</strong>
                                </label>
                                <div class="controls">
                                    <label class="radio inline">
                                        <input type="radio" ng-model="work.eventMode" name="eventMode" value="1" required>
                                        Exposición (Oral)
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" ng-model="work.eventMode" name="eventMode" value="2" required>
                                        Cartel
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" ng-model="work.eventMode" name="eventMode" value="3" required>
                                        Prototipo
                                    </label>
                                </div>
                            </div>

                            <!-- Categoría -->
                            <div class="control-group">
                                <label for="tags" class="control-label">
                                    <span class="text-error">
                                        <strong>*</strong>
                                    </span>
                                    <strong>Categoría:</strong>
                                </label>
                                <div class="controls">
                                    <label class="radio" ng-repeat="tag in allTags">
                                        <input type="radio" ng-model="work.tag" name="tag" value="{{ tag }}" ng-checked="work.tag==tag" required />
                                        {{ tag }}
                                    </label>
                                    <input type="text" ng-model="work.otherTag" name="otherTag" ng-show="work.tag=='Otra'" ng-required="work.tag=='Otra'" />
                                </div>
                            </div>

                            <button ng-show="false" ng-disabled="propagateFormState(workForm)"></button>
                        </form>

                        <div>
                            <p class="text-right">
                                <span class="text-error">
                                    <strong>*</strong>
                                </span>
                                Campos obligatorios.
                            </p>
                        </div>

                    </div>
                </div>
                <!--End edit subview-->

                <!-- ####################################################################################################### -->

                <!--Start authors subview-->
                <div class="authors" ng-switch-when="AUTHORS">

                    <div class="clearfix aid edit-aid">
                        <a title="Ayuda" data-toggle="modal" data-target="#edit-help-modal">
                            <div class="pull-left" style="font-size: 2em;" data-icon="&#xe045;" aria-hidden="true"></div>
                        </a>
                        <a ng-hide="_new" title="Consejos" data-toggle="modal" data-target="#edit-authors-modal">
                            <div class="pull-left" style="font-size: 2em;" data-icon="&#xe020;" aria-hidden="true"></div>
                        </a>
                        <span class="label label-info pull-right">
                           Vista de autores
                        </span>
                    </div>

                    <div id="edit-authors-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Ayuda para edición" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3>¿Sabías que?</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                                Puedes especificar el papel del autor en el campo <strong>Notas</strong>. Es buena idea indicar quién es el autor principal.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                        </div>
                    </div>

                    <!-- Begin progress bar -->
                    <div ng-hide="associationsReady || _new">
                        <div class="hero-unit">
                            <div class="progress progress-striped active">
                                <div class="bar" style="width: 100%"></div>
                            </div>
                            <div class="text-center">Por favor espera...</div>
                        </div>
                    </div>
                    <!-- End progress bar -->

                    <!-- Message for new works -->
                    <div ng-show="_new">
                        <div>
                            <h2>Autores asociados</h2>
                            <div class="alert alert-info">
                                Guarda el trabajo primero para asociar autores.
                            </div>
                        </div>
                    </div>
                    <!-- End message for new works -->

                    <!-- Begin associations block -->
                    <div ng-show="associationsReady && !_new">
                        <h2>Autores asociados</h2>
                        <div ng-switch on="work.associations.length > 0">
                            <table ng-switch-when="true" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th ng-hide="!!work.finished"></th>
                                        <th>Nombre</th>
                                        <th>Correo electrónico</th>
                                        <th>Notas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="assoc in work.associations">
                                        <th ng-hide="!!work.finished">
                                            <a ng-click="unlinkAuthor(assoc.author)" title="Desasociar autor"><div style="font-size: 2em" data-icon="&#xe018;" aria-hidden="true"></div></a>
                                        </th>
                                        <td>
                                            <a ng-href="#!/autores/{{assoc.author.id}}" title="Editar información de autor">{{ assoc.author.firstName }} {{ assoc.author.lastName }}</a>
                                        </td>
                                        <td>{{ assoc.author.email }}</td>
                                        <td>
                                            <strong>{{ assoc.description }}</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="alert alert-info text-center" ng-switch-when="false" title="Asociar autor">
                                No hay autores.
                            </div>
                        </div>

                        <div ng-show="unlinkedAuthors && !work.finished">
                            <h2>Autores no asociados</h2>
                            <div ng-switch on="unlinkedAuthors.length > 0">
                                <div ng-switch-when="true">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Correo electrónico</th>
                                                <th>Notas</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="author in unlinkedAuthors">
                                                <td>
                                                    <a ng-href="#!/autores/{{ author.id }}" title="Editar información de autor">{{ author.firstName }} {{ author.lastName }}</a>
                                                </td>
                                                <td>{{ author.email }}</td>
                                                <td>
                                                    <form class="form-inline" novalidate>
                                                        <input ng-model="author.linkDescription" placeholder="Papel" type="text">
                                                        <button ng-click="linkAuthor(author)" class="btn btn-default" title="Asociar">
                                                            <div style="font-size: 2em" data-icon="&#xe041;" aria-hidden="true"></div>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="alert alert-info">
                                        <strong>Tip:</strong> puedes especificar el papel del autor en el campo <strong>Notas</strong>. Es buena idea indicar quién es el autor principal.
                                    </div>
                                    <div class="text-right">
                                        <button class="btn btn-large" title="Crear autor rápidamente" ng-click="createAuthor()">
                                            <span style="font-size: 2em" data-icon="&#xe00e;" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="alert alert-info text-center" ng-switch-when="false">
                                    <p>No hay autores.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End associations block -->

                </div>
                <!--End authors subview-->

            </div>
            <!-- End multiview container -->

            <!--Begin information-->
            <div class="span4">
                <div class="alert alert-info">
                    <h2>Información</h2>
                    <table class="table table-hover">
                        <tr>
                            <td>ID:</td>
                            <td>{{ work.id | emptymessage:"Identificador único, generado por el sistema" }}</td>
                        </tr>
                        <tr>
                            <td>Fecha de creación:</td>
                            <td>{{ work.createdOn | emptymessage:"Aun no guardado" }}</td>
                        </tr>
                        <tr>
                            <td>Fecha de modificación:</td>
                            <td>{{ work.lastModified | emptymessage:"Aun no guardado" }}</td>
                        </tr>
                        <tr>
                            <td>Modalidad</td>
                            <td>{{ work.eventMode | workmode }}</td>
                        </tr>
                        <tr>
                            <td>Categoría</td>
                            <td>
                                {{ work.tag | emptymessage:"Aún no elegida" }}
                                <span ng-show="work.tag=='Otra'">- {{ work.otherTag }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Enviado a revisión:</td>
                            <td>
                                <div ng-show="work.finished" style="font-size: 2em" data-icon="&#xe00b;" aria-hidden="true"></div>
                                <div ng-hide="work.finished" style="font-size: 2em" data-icon="&#xe00a;" aria-hidden="true"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Aprobado:</td>
                            <td>
                                <div ng-show="work.approved" style="font-size: 2em" data-icon="&#xe00b;" aria-hidden="true"></div>
                                <div ng-hide="work.approved" style="font-size: 2em" data-icon="&#xe00a;" aria-hidden="true"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Numero de palabras empleadas:</td>
                            <td>
                                <p ng-hide="!!work.body">
                                    Aún no hay palabras...
                                </p>
                                <div ng-show="!!work.body" ng-switch on="wordsAdvice()">
                                    <span ng-switch-when="GOOD" class="label label-info word-count">{{ bodyWords }}</span>
                                    <span ng-switch-when="WARNING" class="label label-warning word-count">{{ bodyWords }}</span>
                                    <div ng-switch-when="ERROR" >
                                        <span class="label label-important word-count">{{ bodyWords }}</span>
                                        <span class="label label-important word-count">Límite superado</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- Success message -->
                <div class="alert alert-success text-center" ng-show="updateSuccess">
                    <button class="close" ng-click="hideMessage()">&times;</button>
                    <h5>Los cambios han sido guardados exitosamente</h5>
                </div>
                <!-- End success message -->

                <!-- Error message -->
                <div class="alert alert-success text-center" ng-show="updateFailure" ng-click="hideMessage()">
                    <h4>No se ha actualizado el trabajo</h4>
                </div>
                <!-- End error message -->

                <div class="text-right work-controls">
                    <!-- Approve button -->
                    <button ng-show="work.finished && !work.approved && userIsAdmin()" class="btn btn-large btn-success" ng-click="approveWork()" title="Aprobar">
                        <div style="font-size: 2em" data-icon="&#xe00b;" aria-hidden="true"></div>
                    </button>
                    <!-- Disapprove button -->
                    <button ng-show="work.finished && work.approved && userIsAdmin()" class="btn btn-large btn-inverse" ng-click="disapproveWork()" title="Desaprobar">
                        <div style="font-size: 2em" data-icon="&#xe00a;" aria-hidden="true"></div>
                    </button>
                    <!-- Edit button -->
                    <button ng-hide="currentView=='EDIT' || work.finished" class="btn btn-large" ng-click="displayEditForm()" title="Editar">
                        <div style="font-size: 2em" data-icon="&#xe00d;" aria-hidden="true"></div>
                    </button>
                    <!-- Preview button -->
                    <button ng-hide="currentView=='PREVIEW'" class="btn btn-large" ng-click="displayPreview()" title="Vista previa">
                        <div style="font-size: 2em" data-icon="&#xe039;" aria-hidden="true"></div>
                    </button>
                    <!-- Authors button -->
                    <button ng-hide="currentView=='AUTHORS'" class="btn btn-large" ng-click="displayAuthors()" title="Autores asociados">
                        <div style="font-size: 2em" data-icon="&#xe003;" aria-hidden="true"></div>
                    </button>
                    <!-- Update button -->
                    <button ng-show="!_new && !work.finished" ng-disabled="!validForm" class="btn btn-large btn-primary" ng-click="updateWork()"  title="Actualizar">
                        <div style="font-size: 2em" data-icon="&#xe03a;" aria-hidden="true"></div>
                    </button>
                    <!-- Save button -->
                    <button ng-show="_new && !work.finished" ng-disabled="!validForm" class="btn btn-large btn-primary" ng-click="createWork()"  title="Guardar">
                        <div style="font-size: 2em" data-icon="&#xe03b;" aria-hidden="true"></div>
                    </button>
                    <!-- Finish button -->
                    <button ng-show="!work.finished && !_new" ng-disabled="disableWorkSubmit()" class="btn btn-large btn-warning" data-toggle="modal" data-target="#confirm-finish" title="Finalizar y enviar a revisión">
                        <div style="font-size: 2em" data-icon="&#xe035;" aria-hidden="true"></div>
                    </button>
                </div>
            </div>
            <!-- End information -->

            <!-- Begin modal -->
            <div id="confirm-finish" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Confimación de envío</h3>
                </div>
                <div class="modal-body" ng-show="!work.finished">
                    <p>Una vez enviado a revisión el trabajo no se podrá modificar, y los autores asociados no se podrán eliminar.</p>
                    <p>¿Quieres enviar el trabajo?</p>
                </div>
                <div ng-show="updateSuccessModal" class="text-center">
                    <h4 style="padding: 30px 0">¡Trabajo enviado!<h4>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-large" ng-show="!work.finished && !_new" data-dismiss="modal" aria-hidden="true">
                        No, aún no
                    </button>
                    <button class="btn btn-large" ng-click="hideModalMessage()" ng-show="work.finished" data-dismiss="modal" aria-hidden="true">
                        Cerrar
                    </button>
                    <button class="btn btn-primary btn-large" ng-show="!work.finished && !_new" ng-disabled="disableWorkSubmit()" ng-click="finalizeWork()">
                        Sí, enviar ahora mismo
                    </button>
                </div>
            </div>

        </div>
    </div>
    <!--End main container-->
</div>
